@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

* {
  letter-spacing: -0.02em;
}

:root {
  --primary: #0087e2;
  --skiils: #5a8100;
  --archiving: #222222;
  --projects: #6184c6;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 100vh;
  padding: 7rem 0;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    row-gap: 5rem;
  }

  .section-title {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Noto Sans KR", sans-serif;
    text-align: center;
    font-size: 3rem;
    font-weight: 1000;
    gap: 1rem;

    .icon {
      font-size: 2rem;
    }

    span {
      border-bottom: 0.2rem solid #eee;
      padding-bottom: 0.25rem;
    }
  }
}

.fa-link,
.cursor-pointer {
  cursor: pointer !important;
}

.word-break-keep-all {
  word-break: keep-all !important;
}

.text-white-70 {
  color: rgba(255, 255, 255, 0.7) !important;
}

.fs-0 {
  font-size: 3rem !important;
}

.mw {
  &-100 {
    max-width: 100% !important;
  }

  &-75 {
    max-width: 75% !important;
  }

  &-50 {
    max-width: 50% !important;
  }

  &-25 {
    max-width: 25% !important;
  }
}

@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 800px;
  }
}
@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 900px;
  }
}
@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1000px;
  }
}
