#nav.navbar-not-scroll {
  .nav-item:hover a {
    color: #fff !important;
  }
}

#nav.navbar-scroll {
  background-color: #fff !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;

  .nav-item {
    a.active,
    &:hover a {
      color: var(--primary) !important;
    }
  }

  a {
    color: #777 !important;
  }
}

@media (max-width: 991px) {
  #nav.navbar {
    background-color: #fff;

    .navbar-brand {
      color: #777 !important;
    }

    .navbar-nav .nav-item .nav-link {
      color: #777 !important;
      padding-bottom: 1rem;

      &:hover {
        color: var(--primary) !important;
      }
    }

    .navbar-collapse {
      margin-top: 1rem;
    }
  }
}
